<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
<!--  	console Appender-->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %C [%t] %m%n"/>
    </Console>
    
<!--    File Appender with append ="false"-->
  <File name= "File" fileName="logs/application.log" append ="false">
  	<patternLayout pattern = "%d %p %C [%t] %m%n">
  	</patternLayout>
  </File>
	
	  
  </Appenders>
  <Loggers>
  	
<!--  	Root Loggers -->
    <Root level="debug">
    
    	  <AppenderRef ref="Console"/>

    	  	<AppenderRef ref="file"/>
    	  
    </Root>
  </Loggers>
</Configuration>